<!-- CONTENEDOR GENERAL DE LA VISTA -->
<div class="container-fluid">

    <form action="" class="card">

        <h3 class="text-center h3-responsive h3 my-3">
            <i style="font-size: 1.6rem;" class="fas fa-hand-holding-box ml-1"></i>
            Nueva Venta
        </h3>

        <div class="card-body">

            <div class="row">

                <!-- CONTENEDOR DE BUSCAR Y TABLA DE PRODUCTOS AGREGADOS -->
                <div class="col-12 col-lg-9">

                    <p class="text-center">
                        Ingrese el nombre del producto y luego haga clic en 'AGREGAR PRODUCTO' para cargar los datos
                        de la venta a realizar.
                    </p>

                    <!-- FORM DE BUSQUEDA DE PRODUCTOS -->
                    <div class="row align-items-center">

                        <!-- BUSCAR -->
                        <div class="col-12 col-md-8">
                            <div class="md-form">
                                <input type="search" id="producto_buscado" class="form-control mdb-autocomplete">
                                <label for="producto_buscado" class="">Buscar Producto</label>
                            </div>
                        </div>
                        <!-- BUSCAR -->

                        <!-- AGREGAR PRODUCTO -->
                        <div class="col-12 col-md-4">
                            <button type="button" class="btn btn-md btn-primary" onclick="obtenerDatosProducto();">
                                <i class="far fa-cart-plus"></i> Agregar Producto
                            </button>
                        </div>
                        <!-- AGREGAR PRODUCTO -->

                    </div>
                    <!-- FORM DE BUSQUEDA DE PRODUCTOS -->

                    <hr>

                    <!-- TABLA DE LOS PRODUCTOS AGREGADOS -->
                    <div class="table-responsive">

                        <table class="table table-hover table-bordered">

                            <thead>
                                <tr class="text-center">
                                    <th scope="col">#</th>
                                    <th scope="col">Producto</th>
                                    <th scope="col">Cantidad</th>
                                    <th scope="col">Precio</th>
                                    <th scope="col">Subtotal</th>
                                    <th scope="col">Editar</th>
                                    <th scope="col">Eliminar</th>
                                </tr>
                            </thead>

                            <tbody id="table_productos_agregados">
                                <tr class="text-center table-warning">
                                    <th colspan="7">No hay productos agregados</th>
                                </tr>
                            </tbody>

                        </table>

                    </div>
                    <!-- TABLA DE LOS PRODUCTOS AGREGADOS -->

                </div>
                <!-- CONTENEDOR DE BUSCAR Y TABLA DE PRODUCTOS AGREGADOS -->

                <!-- CONTENEDO DE LOS DATOS DE LA COMPRA -->
                <div class="col-12 col-lg-3">

                    <h3 class="text-center text-uppercase">Datos de la venta</h3>
                    <hr>

                    <form class="mt-2">

                        <div class="form-group">
                            <label for="fecha_venta">Seleccione una fecha</label>
                            <input type="date" id="fecha_venta" class="form-control">
                        </div>

                        <!-- CLIENTE -->
                        <select class="mdb-select md-form" name="id_cliente" id="id_cliente">
                        </select>
                        <!-- CLIENTE -->

                        <!-- Descuento de Venta -->
                        <div class="md-form">
                            <input type="number" id="descuento_venta" class="form-control">
                            <label for="descuento_venta">Descuento de Venta (%)</label>
                        </div>
                        <!-- Descuento de Venta -->

                        <!-- TOTAL PAGADO CLIENTE -->
                        <div class="md-form">
                            <input type="number" id="total_pagado_cliente" class="form-control">
                            <label for="total_pagado_cliente">Total pagado por el Cliente</label>
                        </div>
                        <!-- TOTAL PAGADO CLIENTE -->

                        <!-- Cambio devuelto al Cliente -->
                        <div class="md-form">
                            <input type="number" id="cambio_cliente" class="form-control">
                            <label for="cambio_cliente">Cambio devuelto al Cliente</label>
                        </div>
                        <!-- Cambio devuelto al Cliente -->


                        <!-- DATOS DE LA VENTA -->
                        <ul class="list-group list-unstyled">

                            <!-- SUBTOTAL -->
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Subtotal
                                <span class="badge badge-pill badge-primary" id="subtotal"></span>
                            </li>
                            <!-- SUBTOTAL -->

                            <!-- IVA -->
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                IVA (13%)
                                <span class="badge badge-pill badge-default" id="iva"></span>
                            </li>
                            <!-- IVA -->

                            <!-- Descuento -->
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Descuento (%)
                                <span class="badge badge-pill badge-default" id="total"></span>
                            </li>
                            <!-- IVA -->

                            <li>
                                <hr>
                            </li>

                            <!-- TOTAL -->
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Total
                                <span class="badge badge-pill badge-success">$0.00 MXN</span>
                            </li>
                            <!-- TOTAL -->

                        </ul>
                        <!-- DATOS DE LA VENTA -->

                    </form>
                </div>
                <!-- CONTENEDO DE LOS DATOS DE LA COMPRA -->

            </div>


        </div>

    </form>

    <!-- MODAL PARA AGREGAR LOS DATOS DE VENTA -->
    <div class="modal fade" id="modal_venta" tabindex="-1" role="dialog" aria-labelledby="modal_venta"
        aria-hidden="true">
        
        <div class="modal-dialog modal-lg" role="document">

            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title w-100 text-center" id="titulo_modal"></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <!-- CONTENEDOR DEL FORMULARIO PARA LA COMPRA DE PRODUCTOS -->
                <div class="modal-body">
                    <div class="row">

                        <input type="hidden" name="id_producto" id="id_producto" value="">

                        <!-- Nombre -->
                        <div class="col-12 col-md-6">
                            <div class="md-form">
                                <label for="nombre_producto" class="active">Nombre</label>
                                <input type="text" class="form-control" name="nombre_producto" id="nombre_producto"
                                    length="50" disabled>
                            </div>
                        </div>
                        <!-- Nombre -->

                        <!-- Modelo -->
                        <div class="col-12 col-md-6">
                            <div class="md-form">
                                <label for="modelo_producto" class="active">Modelo o Marca</label>
                                <input type="text" class="form-control" name="modelo_producto" id="modelo_producto"
                                    length="50" disabled>
                            </div>
                        </div>
                        <!-- Modelo -->

                        <!-- Stock o existencias -->
                        <div class="col-12">
                            <div class="md-form">
                                <label for="stock_existencias" class="active">Existencias de Producto</label>
                                <input type="number" class="form-control" name="stock_existencias"
                                    id="stock_existencias" length="10" disabled>
                            </div>
                        </div>
                        <!-- Stock o existencias -->
                    
                        <!-- CANTIDAD DE VENTA -->
                        <div class="col-12">
                            <div class="md-form">
                                <label for="cantidad_venta" class="active">Cantidad de Venta</label>
                                <input type="number" class="form-control" name="cantidad_venta"
                                    id="cantidad_venta" length="10">
                            </div>
                        </div>
                        <!-- CANTIDAD DE VENTA -->

                        <!-- PRECIOS DEL PRODUCTO -->
                        <div class="form-check col-6">
                            <input type="radio" class="form-check-input" id="precio_individual" name="precio_venta"
                                checked>
                            <label class="form-check-label" for="precio_individual"
                                id="label_precio_individual"></label>
                        </div>
                        <!-- PRECIOS DEL PRODUCTO -->

                        <!-- PRECIOS DEL PRODUCTO -->
                        <div class="form-check col-6">
                            <input type="radio" class="form-check-input" id="precio_mayoreo" name="precio_venta">
                            <label class="form-check-label" for="precio_mayoreo" id="label_precio_mayoreo"></label>
                        </div>
                        <!-- PRECIOS DEL PRODUCTO -->

                        <!-- Precio de venta -->
                        <!-- <div class="col-12">
                            <div class="md-form">
                                <label for="precio_venta" class="active">Precio de venta</label>
                                <input type="number" class="form-control" name="precio_venta" value="" id="precio_venta"
                                    length="10">
                            </div>
                        </div> -->
                        <!-- Precio de venta -->

                    </div>
                </div>
                <!-- CONTENEDOR DEL FORMULARIO PARA LA COMPRA DE PRODUCTOS -->

                <!-- BOTONES DE ACCION DEL MODAL -->
                <div class="modal-footer text-center">

                    <button type="button" class="btn btn-secondary btn-md" data-dismiss="modal">Cancelar</button>

                    <button type="button" class="btn btn-primary btn-md"
                        onclick="insertarVentaTemporal(); return false;">Agregar Producto</button>

                </div>
                <!-- BOTONES DE ACCION DEL MODAL -->

            </div>

        </div>

    </div>
    <!-- MODAL PARA AGREGAR LOS DATOS DE VENTA -->

</div>
<!-- CONTENEDOR GENERAL DE LA VISTA -->

<!-- SCRIPT CON LAS FUNCIONES DE LA INTERFAZ -->
<script type="text/javascript" src="/demo_ferreteria/js/ventas/ventas.js"></script>