<!-- CONTENEDOR GENERAL DE LA VISTA -->
<div class="container-fluid card">

    <div class="container-fluid p-0 mb-3 card-body pt-3">

        <h2 class="dark-text h2-responsive text-center">
            <strong> <i style="font-size: 1.6rem;" class="fas fa-truck-loading ml-1"></i> Proveedores</strong>
        </h2>

        <button class="my-4 btn blue-gradient btn-block btn-md" title="Nuevo"
            onclick="nuevoProveedor('Views/Administracion/Proveedores_Nuevo_Editar.php') ; return false;">
            <i class="fas fa-plus-circle mr-1"></i>
            Nuevo Proveedor
        </button>

        <p class="pb-4 d-none">
            En el módulo NUEVA CATEGORÍA usted podrá registrar las categorías que servirán para agregar productos y
            también podrá ver los productos que pertenecen a una categoría determinada. Además de lo antes
            mencionado,
            puede actualizar los datos de las categorías, realizar búsquedas de categorías o eliminarlas si así lo
            desea.
        </p>
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">

            <thead>
                <tr class="text-center" style="font-size: 1.8rem; font-weight: bold;">
                    <th>Nombre</th>
                    <th>Correo</th>
                    <th>Estado</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>

            <tbody id="table_proveedores">
            </tbody>
        </table>
    </div>

</div>
<!-- CONTENEDOR GENERAL DE LA VISTA -->


<script>
    $(document).ready(function () {
        $('input').characterCounter();
        $('.mdb-select').materialSelect();

        cargarProveedores();

    });

    function eliminarProveedor(id_proveedor) {

        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-warning',
                cancelButton: 'btn btn-danger'
            },
            buttonsStyling: false
        });

        swalWithBootstrapButtons.fire({
            title: '¿Desea eliminar este Proveedor?',
            icon: 'question',
            confirmButtonText: 'Eliminar <i class="far fa-trash"></i> ',
            showCancelButton: true,
            cancelButtonText: 'Cancelar <i class="far fa-ban"></i>'
        }).then((result) => {
            if (result['isConfirmed']) {

                $.ajax({
                    method: "POST",
                    url: "./Controllers/Administracion/Proveedores.php",
                    data: {
                        funcion: 'eliminar_proveedor',
                        id_proveedor: id_proveedor
                    }
                }).done(function (respuesta_servidor) {
                    // console.log(respuesta_servidor);
                    let respuesta_proveedor = JSON.parse(respuesta_servidor);

                    if (respuesta_proveedor.respuesta == 'Eliminado Correctamente') {

                        Swal.fire({
                            icon: 'success',
                            title: '¡Correcto!',
                            text: 'Se ha eliminado el registro'
                        });

                        cargarProveedores();

                    }
                });

            }
        });
    }

    function editarProveedor(ventana_destino) {
        $("main").load(ventana_destino);
    }

    function nuevoProveedor(ventana_destino) {
        $("main").load(ventana_destino);
    }

    function cargarProveedores() {

        // VACIAMOS LA TABLA DE CONTENIDO
        $("#table_proveedores").empty();

        $.ajax({
            method: "POST",
            url: "./Controllers/Administracion/Proveedores.php",
            data: {
                funcion: 'consultar_proveedores'
            }
        }).done(function (respuesta_servidor) {

            // console.log(respuesta_servidor);
            let datos_proveedores = JSON.parse(respuesta_servidor);
            // console.log(datos_categorias);

            if (datos_proveedores.estado = "Tiene proveedores") {

                datos_proveedores.proveedores.forEach(proveedor => {

                    $("#table_proveedores").append(
                        '<tr  class="text-center" style="vertical-align: middle;">' +
                        '<td>' + proveedor.nombre_proveedor + '</td>' +
                        '<td>' + proveedor.correo_proveedor + '</td>' +
                        '<td><span class="badge badge-success">' + proveedor.estado + '</span></td>' +
                        '<td>' +
                        '<button class="btn btn-primary btn-sm text-center" onclick="editarProveedor(\'Views/Administracion/Proveedores_Nuevo_Editar.php?id_proveedor=' + proveedor.id_proveedor + '\'); return false;"> ' +
                        '<i class="fas fa-pencil"></i> Editar' +
                        '</button>' +
                        '</td>' +
                        '<td>' +
                        '<button class="btn btn-danger btn-sm text-center" onclick="eliminarProveedor(\'' + proveedor.id_proveedor + '\'); return false;">' +
                        '<i class="fas fa-trash"></i> Eliminar ' +
                        '</button >' +
                        '</td>' +
                        '<tr>');
                });

            } else {
                console.log("dsa");
            }
        });
    }


    $("#regresar").on('click', function (e) {
        e.preventDefault();
        cambiarVentana('Views/Administracion/Categorias');
    });

</script>