<div class="container-fluid">

    <form class="card" method="">

        <h3 class="text-center h3-responsive h3 my-3">
            <i style="font-size: 1.6rem;" class="fas fa-users ml-1"></i>
            Alta Usuarios
        </h3>

        <div class="card-body px-4">

            <!-- CONTENEDOR DE LOS DATOS DE Usuario -->
            <div class="container-fluid p-0">

                <h4 class="h4 h4-responsive mr-auto">
                    <i class="fas fa-address-card mr-2"></i>Información del usuario
                </h4>

                <!-- CONTENEDOR CON LOS DATOS DEL NUEVO Usuario -->
                <div class="row">

                    <!-- Nombre -->
                    <div class="col-md-6">
                        <div class="md-form">
                            <input class="form-control" type="text" id="txt_nombre" name="txt_nombre" value="">
                            <label for="nombre">Nombre</label>
                        </div>
                    </div>
                    <!-- Nombre -->

                    <!-- Correo -->
                    <div class="col-md-6">
                        <div class="md-form">
                            <label for="txt_correo">Correo</label>
                            <input class="form-control" type="text" id="txt_correo" name="txt_correo" value="">
                        </div>
                    </div>
                    <!-- Correo -->

                    <!-- Telefono -->
                    <div class="col-md-6">
                        <div class="md-form">
                            <label for="txt_tel">Telefono</label>
                            <input class="form-control" type="text" id="txt_tel" name="txt_tel" value="">
                        </div>
                    </div>
                    <!-- Telefono -->

                    <!-- Estado del Usuario -->
                    <div class="form-group col-md-6">
                        <select class="mdb-select md-form">
                            <option value="" disabled selected>Estado del Usuario</option>
                            <option value="1">Habilitado</option>
                            <option value="2">Deshabilitado</option>
                        </select>
                    </div>
                    <!-- Estado del Usuario -->

                </div>
                <!-- CONTENEDOR CON LOS DATOS DEL NUEVO Usuario -->

            </div>
            <!-- CONTENEDOR DE LOS DATOS DE Usuario -->

            <!-- CONTENEDOR CON LOS DATOS DE LA CUENTA -->
            <div class="container-fluid p-0">

                <h4 class="h4 h4-responsive mr-auto">
                    <i class="fas fa-user-lock mr-2"></i>Datos de la cuenta
                </h4>

                <div class="row">

                    <!-- Nombre de Acceso -->
                    <div class="col-md-6">
                        <div class="md-form">
                            <label for="">Nombre de Acceso</label>
                            <input class="form-control" type="text" id="" name="" value="">
                        </div>
                    </div>
                    <!-- Nombre de Acceso -->

                    <!-- Cargo del Usuario -->
                    <div class="form-group col-md-6">
                        <select class="mdb-select md-form">
                            <option value="" disabled selected>Cargo del Usuario</option>
                            <option value="1">Administrador</option>
                            <option value="2">Vendedor</option>
                        </select>
                    </div>
                    <!-- Cargo del Usuario -->

                    <!-- Contraseña -->
                    <div class="col-md-6">
                        <div class="md-form">
                            <label for="">Contraseña</label>
                            <input class="form-control" type="password" id="" name="" value="">
                        </div>
                    </div>
                    <!-- Contraseña -->

                    <!-- Repetir Contraseña -->
                    <div class="col-md-6">
                        <div class="md-form">
                            <label for="">Repetir Contraseña</label>
                            <input class="form-control" type="password" id="" name="" value="">
                        </div>
                    </div>
                    <!-- Repetir Contraseña -->

                </div>

            </div>
            <!-- CONTENEDOR CON LOS DATOS DE LA CUENTA -->

        </div>

        <!-- CONTENEDOR DE LOS BOTONES -->
        <div class="container-fluid">

            <button class="btn btn-outline-success btn-block my-4 waves-effect z-depth-0" type="submit">
                <i class="fas fa-save ml-1"></i>
                Crear Nuevo Usuario
            </button>

            <button id="regresar" class="btn btn-outline-danger btn-block my-4 waves-effect z-depth-0" type="button">
                <i class="fas fa-arrow-left ml-1"></i>
                Regresar
            </button>

        </div>
        <!-- CONTENEDOR DE LOS BOTONES -->

    </form>

</div>

<script>

    $(document).ready(function () {

        // INICIALIZACIONES DE LAS FUNCIONES DE LOS INPUTS CON MDBOOTSTRAP
        $('input').characterCounter();
        $('.mdb-select').materialSelect();

    });

    $("#regresar").on('click', function (e) {
        e.preventDefault();
        cambiarVentana('Views/Administracion/Usuarios');
    });
</script>